code {
    color: #428bca;
    background-color: #f2f4f9;
}

/*a.list-group-item:hover {
    background-color: #f2f4f9;
} */

hr {
    padding: 0;
    margin: 2em 0 2em 0;
}

hr.statement-raw-seperator {
    padding: 0;
    margin: 1em 0 1em 0;
}

pre.statement-raw-data {
    font-size: 10px;
    background-color: #f2f4f9;
    font-weight: bold;
}

.settings-item {
    padding: 0;
    margin: 1em 0 2em 0;
}

.settings-item > div {
    padding: 0;
    margin: 0;
}

.settings-item-id {

}

.settings-item-data {

}

.statements-input {
    width: 18em;
}

.statements-button {
    width: 5em;
    padding-bottom: 1px;
}

.toggle {
    margin-bottom: 10px;
}

td {
    width: 6em;
}